apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: agencyservice
  name: agencyservice
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: agencyservice
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.network/database_network: "true"
        io.kompose.network/frontend_network: "true"
        io.kompose.network/service_network: "true"
        io.kompose.service: agencyservice
    spec:
      hostAliases:
        - ip: {{ .Values.global.dockerHostIp }}
          hostnames:
            - {{ .Values.global.domainName }}
      initContainers:
        - name: wait-for-keycloak
          image: busybox
          command: [ "sh", "-c", "until nc -z keycloak 8080 > /dev/null; do echo Waiting for keycloak.; sleep 5; done;" ]
      containers:
        - env:
            - name: CSRF_COOKIE_PROPERTY
              valueFrom:
                configMapKeyRef:
                  key: CSRF_COOKIE_PROPERTY
                  name: agencyservice-{{ .Release.Name }}-env
            - name: CSRF_HEADER_PROPERTY
              valueFrom:
                configMapKeyRef:
                  key: CSRF_HEADER_PROPERTY
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAK_CORS
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAK_CORS
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAK_PRINCIPAL_ATTRIBUTE
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAK_PRINCIPAL_ATTRIBUTE
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAKSERVICE_ADMIN_CLIENTID
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAKSERVICE_ADMIN_CLIENTID
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAKSERVICE_APP_CLIENTID
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAKSERVICE_APP_CLIENTID
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAK_AUTH_SERVER_URL
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAK_AUTH_SERVER_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAK_REALM
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAK_REALM
                  name: agencyservice-{{ .Release.Name }}-env
            - name: KEYCLOAK_RESOURCE
              valueFrom:
                configMapKeyRef:
                  key: KEYCLOAK_RESOURCE
                  name: agencyservice-{{ .Release.Name }}-env
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: AGENCYSERVICE_SPRING_DATASOURCE_PASSWORD
                  name: agencyservice-secret-{{ .Release.Name }}-env
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                configMapKeyRef:
                  key: SPRING_DATASOURCE_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  key: AGENCYSERVICE_SPRING_DATASOURCE_USERNAME
                  name: agencyservice-secret-{{ .Release.Name }}-env
            - name: SPRING_LIQUIBASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: SPRING_LIQUIBASE_PASSWORD
                  name: agencyservice-secret-{{ .Release.Name }}-env
            - name: SPRING_LIQUIBASE_USER
              valueFrom:
                secretKeyRef:
                  key: SPRING_LIQUIBASE_USER
                  name: agencyservice-secret-{{ .Release.Name }}-env
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  key: SPRING_PROFILES_ACTIVE
                  name: agencyservice-{{ .Release.Name }}-env
            - name: CONSULTING_TYPE_SERVICE_API_URL
              valueFrom:
                configMapKeyRef:
                  key: CONSULTING_TYPE_SERVICE_API_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: TENANT_SERVICE_API_URL
              valueFrom:
                configMapKeyRef:
                  key: TENANT_SERVICE_API_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: MULTITENANCY_ENABLED
              valueFrom:
                configMapKeyRef:
                  key: MULTITENANCY_ENABLED
                  name: agencyservice-{{ .Release.Name }}-env
            - name: FEATURE_TOPICS_ENABLED
              valueFrom:
                configMapKeyRef:
                  key: FEATURE_TOPICS_ENABLED
                  name: agencyservice-{{ .Release.Name }}-env
            - name: FEATURE_DEMOGRAPHICS_ENABLED
              valueFrom:
                configMapKeyRef:
                  key: FEATURE_DEMOGRAPHICS_ENABLED
                  name: agencyservice-{{ .Release.Name }}-env
            - name: JAVA_OPTS
              valueFrom:
                configMapKeyRef:
                  key: JAVA_OPTS
                  name: agencyservice-{{ .Release.Name }}-env
            - name: APP_BASE_URL
              valueFrom:
                configMapKeyRef:
                  key: APP_BASE_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: USER_ADMIN_SERVICE_API_URL
              valueFrom:
                configMapKeyRef:
                  key: USER_ADMIN_SERVICE_API_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: FEATURE_APPOINTMENT_ENABLED
              valueFrom:
                configMapKeyRef:
                  key: FEATURE_APPOINTMENT_ENABLED
                  name: agencyservice-{{ .Release.Name }}-env
            - name: APPOINTMENT_SERVICE_API_URL
              valueFrom:
                configMapKeyRef:
                  key: APPOINTMENT_SERVICE_API_URL
                  name: agencyservice-{{ .Release.Name }}-env
            - name: FEATURE_MULTITENANCY_WITH_SINGLE_DOMAIN_ENABLED
              valueFrom:
                configMapKeyRef:
                  key:  FEATURE_MULTITENANCY_WITH_SINGLE_DOMAIN_ENABLED
                  name: agencyservice-{{ .Release.Name }}-env
            - name: AGENCY_DELETEWORKFLOW_CRON
              valueFrom:
                configMapKeyRef:
                  key: AGENCY_DELETEWORKFLOW_CRON
                  name: agencyservice-{{ .Release.Name }}-env
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI
              valueFrom:
                configMapKeyRef:
                  key: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI
                  name: agencyservice-{{ .Release.Name }}-env
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI
              valueFrom:
                configMapKeyRef:
                  key: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI
                  name: agencyservice-{{ .Release.Name }}-env
            - name: SPRING_JWT_AUTH_CONVERTER_RESOURCEID
              valueFrom:
                configMapKeyRef:
                  key: SPRING_JWT_AUTH_CONVERTER_RESOURCEID
                  name: agencyservice-{{ .Release.Name }}-env
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  key: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
                  name: agencyservice-{{ .Release.Name }}-env
          name: agencyservice
          ports:
            - containerPort: 8080
          image:  {{ .Values.agencyServiceImageName }}:{{ .Values.agencyServiceImageVersion }}
          imagePullPolicy: Always
          {{- if .Values.agencyservice }}
          {{- if .Values.agencyservice.resources }}
          resources:
            {{- if .Values.agencyservice.resources.requests }}
            requests:
              {{- if .Values.agencyservice.resources.requests.memory }}
              memory: {{  .Values.agencyservice.resources.requests.memory }}
              {{- end}}
              {{- if .Values.agencyservice.resources.requests.cpu }}
              cpu: {{ .Values.agencyservice.resources.requests.cpu }}
              {{- end}}
            {{- end }}
            {{- if .Values.agencyservice.resources.limits }}
            limits:
              {{- if .Values.agencyservice.resources.limits.memory }}
              memory: {{ .Values.agencyservice.resources.limits.memory }}
              {{- end}}
              {{- if .Values.agencyservice.resources.limits.cpu }}
              cpu: {{ .Values.agencyservice.resources.limits.cpu }}
              {{- end }}
            {{- end }}
          {{- end }}
          {{- end }}
      imagePullSecrets:
        - name: registry-secret
      restartPolicy: Always